{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "extends": [
    "oval",
    "oval/hooks"
  ],
  "globals": {
    "__DEV__": false,
    "React": true,
    "JSX": true
  },
  "rules": {
    "prefer-promise-reject-errors": "warn",
    "@typescript-eslint/naming-convention": [
      "error", {
        "selector": "variable",
        "format": ["camelCase", "PascalCase", "UPPER_CASE"]
      }
    ],
    "no-undef": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "error",
    "react/require-default-props": "off",
    "react/no-unused-prop-types": "off",
    "@typescript-eslint/prefer-optional-chain": "warn",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "error",
    "no-redeclare": "off",
    "@typescript-eslint/no-redeclare": ["error"],
    "@typescript-eslint/indent": "off",
    // https://github.com/import-js/eslint-plugin-import/blob/main/docs/rules/no-extraneous-dependencies.md
    "import/no-extraneous-dependencies": 0,
    "no-console": "error"
  }
}
